#pacifo {
font-family: 'Pacifico', cursive;
}
.chickentxclr {
    color: white;
    font-size: 20px;
    font-family: cursive; 
}
.txtimage {
    position: absolute;
    font-size: 50px;
    font-family: cursive;
    color: white;
}
#padimgtop {
    padding: 20px;
    background-color: #f18973;
}
#padimgbot {
    padding: 20px;
    background-color: #f18973;
}
#map {
    height: 200px;
    width: auto;
    margin: auto; /* it keeps it center margin*/
}
#endsection {
    padding: 20px;
    background-color: #ffff00;
}



@media (max-width: 300px) {
  .timage {
      width: 210px;
  }
    .txtimage {
        width: 20%;
        top: 50%;
    }
}
@media (min-width: 301px) and (max-width: 600px) {
  .timage {
      width: 210px;
  }
    .txtimage {
        left: 20%;
        top: 50%;
    }
}
@media (min-width: 601px) and (max-width: 768px) {
  .txtimage {
      left: 32%;
      top: 60%;
  }
}
@media (min-width: 769px) {
  .txtimage {
      left: 32%;
      top: 60%;
  }
}
